[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tempest tests intended for eventual incorporation into CI testing
[access "refs/*"]
	owner = group user/Avishek Duta (aveeshek)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Avishek Duta (aveeshek)
	label-Verified = -1..+1 group user/Avishek Duta (aveeshek)
	push = group user/Avishek Duta (aveeshek)
	read = group user/Avishek Duta (aveeshek)
	rebase = group user/Avishek Duta (aveeshek)
	removeReviewer = group user/Avishek Duta (aveeshek)
	submit = group user/Avishek Duta (aveeshek)
[access "refs/heads/*"]
	create = group user/Avishek Duta (aveeshek)
	push = +force group user/Avishek Duta (aveeshek)
	pushMerge = group user/Avishek Duta (aveeshek)
	read = group user/Avishek Duta (aveeshek)
[access "refs/tags/*"]
	push = group user/Avishek Duta (aveeshek)
	push = +force group user/Avishek Duta (aveeshek)
